<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="container text-center my-5">
    <img src="img/pp.jpeg" alt="" class="img-thumbnail" width="200">
    <div class="display-4">Kevin Almer</div>
    <div class="lead">Student | Coder</div>
</div>




<%- include('layouts/footer') %>
