<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="container mt-5">
    <h2>Add New Contact</h2>
    <% if (typeof errors !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% errors.forEach(error => { %>
         <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>
    <div class="col-md-8">
        <form action="/contact" method="post">
            <div class="mb-3">
              <label for="nama" class="form-label">Nama</label>
              <input type="nama" class="form-control" id="nama" name="nama" required>
            </div>
            <div class="mb-3">
              <label for="nohp" class="form-label">No Handphone</label>
              <input type="nohp" class="form-control" id="nohp" name="nohp" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</div>

<%- include('layouts/footer') %>
